<h1>This is the Edit Page</h1>
<form method="POST" action="/cheerups/<%= @cheerup.id %>" >
    Category: <br>
    <input type="text" name="cheerup[category]" value='<%="#{@cheerup.category}" %>' placeholder="Placeholder"><br>
    Text: <br>
    <input type="text" name="cheerup[source]" value='<%="#{@cheerup.source}" %>' placeholder="Placeholder"><br>
    Image: <br>
    <input type="text" name="cheerup[image]" value='<%="#{@cheerup.image}" %>' placeholder="Placeholder"><br> -->
    <input type="submit" value="Save">
  </form>