<html>
  <head><title>De-Stress App</title></head>
  <body class="friends">
    <h1 class="main">The De-Stress App</h1>
    <div class="quotes">
    <h3>Friends</h3>

    </div>
    <div class="cheerups">
    <ul class="quotes-list">
<% @cheerup.each do | cheerup | %>
  <% if cheerup.category == "friends" %>
  <li>
    <p><strong>"<%= cheerup.text %>"
    - <%= cheerup.source %></strong>
  </p>
  </li>
  <li><a href="/cheerups/<%= cheerup.id %>/edit">Edit</a></li>
  <li><a href="/cheerups/<%= cheerup.id %>/:id/show">Delete</a></li>
<% end %>
<% end %>
</ul>
</div>
  </body>


</html>