<ul>
<% @cheerup.each do | cheerup | %>
  <li>
    <p><strong>"<%= cheerup.text %>",
    by <%= cheerup.source %></strong>,
    <%= cheerup.category %>,
    <%= cheerup.image %></p>
  </li>
<% end %>
</ul>