<html>
  <head><title>De-Stress App</title></head>
  <body>
    <h1 class="main">The De-Stress App</h1>
    <div class="quotes">
    <h3>What are you stressed out about today?</h3>
    <ul class="quotes-list">
      <li><a href="/friends">Friends</a></li>
      <li><a href="/family">Family</li>
      <li><a href="/work">Work</li>
      <li><a href="/existential-crisis">Existential Crisis</li>
      <li><a href="/boredom">My life is boring</li>
      <li><a href="/laugh">I Just Need a Laugh</li>
      <li><a href="/other">Other</li>
    </ul>
    </div>
  </body>
</html>