<html>
  <head><title>De-Stress App</title></head>
  <body>
    <h1>The De-Stress App</h1>
    <h3>What are you stressed out about today?</h3>
    <ul>
      <li>Friends</li>
      <li>Family</li>
      <li>Work</li>
      <li>School</li>
      <li>Pets</li>
      <li>Existential Crisis</li>
      <li>My life is boring</li>
      <li>I Just Need a Laugh!</li>
      <li>Other</li>
    </ul>

  </body>


</html>