<h1>Add new cheerup</h1>
  <form method="POST" action="/cheerups">
    Category: <br>
    <input type="text" name="cheerup[category]" value="Category"><br>
    Text: <br>
    <input type="text" name="cheerup[source]" value="Source"><br>
    Image: <br>
    <input type="text" name="cheerup[image]" value="Image"><br>
    <input type="submit" value="Submit">
  </form>