<h2>Add new quote</h2>
  <form method="POST" action="/cheerups">
    Category: <br>
    <input type="text" name="cheerup[category]" value="Category"><br>
    Text: <br>
    <input type="text" name="cheerup[]"

  </form>